body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive, sans-serif, arial;
}

#caption {
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 5vw;
}

button {
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3), -1px -2px 4px rgba(0, 0, 0, 0.2);
	font-weight: 900;
	background-color: #fff;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: translateY(2px);
}